node_modules/
data/tunnel.db*
configs/wireguard/server_*
configs/openvpn/server/*.crt
configs/openvpn/server/*.key
configs/openvpn/server/*.pem
configs/openvpn/server/ta.key
configs/openvpn/server.conf
configs/openvpn/ipp.txt
configs/openvpn/status.log
configs/openvpn/openvpn.log
configs/l2tp/chap-secrets
configs/l2tp/ipsec.secrets
easy-rsa/pki/
easy-rsa/*.conf
.env
*.log
