[Unit]
Description=Tunnel VPN Gateway - OpenVPN Server
After=network.target network-online.target tunnel-dashboard.service
Wants=network-online.target
PartOf=tunnel.target

[Service]
Type=forking
User=root
PIDFile=/run/openvpn-server.pid
ExecStartPre=/usr/bin/node /opt/tunnel-server/src/services/gen-openvpn-config.js
ExecStart=/usr/sbin/openvpn --daemon --writepid /run/openvpn-server.pid --config /opt/tunnel-server/configs/openvpn/server.conf
ExecStop=/bin/kill -TERM $MAINPID
Restart=on-failure
RestartSec=10

[Install]
WantedBy=multi-user.target
